.header-image{
    background-image:url("../images/headerBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    color:white;
}
.nav-link{
    color:white !important;
}

.navbar a{
    text-align: center;
}
body{
    background-color:#ededed;
}
.row{
    margin: 20px;
}

.container-2{
    width: 70%;
}
.test{
  
        
        width: 70%;
        height: auto;
      
}

@media (max-width: 767px) {
    .navbar-collapse
      {
          background-color:#1badf3;
      }
  }

.overImage{
    position: absolute;
    right: 180px;
    top: 300px;
  width: 70%;
  height: auto;
  z-index: 1;
}